
.proper_contact_form_wrap {
	max-width: 600px;
	margin: 1em auto;
}

.proper_contact_form .form_field_wrap {
	padding: 6px;
	margin: 0 0 8px
}

.proper_contact_form label {
	display: block;
	font-weight: bold;
	margin: 0 0 4px
}

.proper_contact_form input[type=text],
.proper_contact_form input[type=email],
.proper_contact_form input[type=url],
.proper_contact_form input[type=number],
.proper_contact_form textarea,
.proper_contact_form select {
	width: 96%;
	display: block;
	font-size: 1.1em;
	font-family: inherit;
	box-sizing: border-box;
	border: 1px #ccc solid;
	border-radius: 2px;
	padding: 1% 2%;
}

.proper_contact_form input[type=submit] {
	padding: 0.5em 1em;
	border: none;
	border-radius: 2px;
	font-family: inherit
}

.proper_error_box {
	padding: 12px;
	background: #ffbbba;
	margin: 0 0 20px;
	border-radius: 2px;
}

.proper_contact_form .error input[type=text],
.proper_contact_form .error input[type=email],
.proper_contact_form .error input[type=url],
.proper_contact_form .error textarea {
	border-color: red
}
