.proper_contact_promo_sidebar {
	width: 20%;
	float: right;
	background: #e1e1e1;
	padding: 4px 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px #bbb;
}

.proper_contact_promo_sidebar hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin: 16px 0
}

img.aligncenter {
	display: block;
	margin: 6px auto;
	max-width: 100%;
}

.proper_contact_settings_form {
	width: 70%;
	float: left;
}