@charset "UTF-8";
/* CSS Document */

#proper-contact-options th, #proper-contact-options td {display: table-cell; border-bottom: 1px solid #f1f1f1; padding: 10px;}
#proper-contact-options th {text-align: right; font-size: 1.1em; font-weight: bold; padding: 10px 20px}